@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.woff?bqycj2') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-dn:before {
  content: "\e900";
}
.icon-bed:before {
  content: "\e901";
}
.icon-caret:before {
  content: "\e902";
}
.icon-email:before {
  content: "\e903";
}
.icon-fit:before {
  content: "\e904";
}
.icon-flip:before {
  content: "\e905";
}
.icon-help:before {
  content: "\e906";
}
.icon-list:before {
  content: "\e907";
}
.icon-login:before {
  content: "\e908";
}
.icon-notes:before {
  content: "\e909";
}
.icon-print:before {
  content: "\e90a";
}
.icon-reset:before {
  content: "\e90b";
}
.icon-save:before {
  content: "\e90c";
}
.icon-share:before {
  content: "\e90d";
}
.icon-undo:before {
  content: "\e90e";
}
.icon-zoom-in:before {
  content: "\e90f";
}
.icon-zoom-out:before {
  content: "\e910";
}