.action-btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid #56a8a4;
    font-size: 12px;
    cursor: pointer;
    background: rgba(86, 168, 164, 0.5);
    transition: all 0.3s ease-out;
    &:hover{
    	background: #56a8a4;
    }
    .btn-icon{
    	display: inline-block;
    	font-size: 15px;
    	width: 28px;
	    padding: 5px;
	    background: #56a8a4;
    }
    .btn-text{
    	display: inline-block;
    	padding: 0 10px;
    }
}