.ifp-sidebar{
	position: relative;
	flex-basis: 275px;
	max-width: 275px;
    background-color: #FFF;
    border-right: 1px solid #ccc;
}
.sidebar-option-holder{
	height: 400px;
	overflow-y: auto;
    overflow-x: hidden;
}
.plan-detail {
    padding: 5px 5px 15px;
    h2{
	    font-size: 20px;
	    line-height: 1.7em;
	    font-weight: normal;
    }
}
/*sidebar option tab*/
.nav-option{
	background: #e0dfd3;
	ul{
		li{	
			flex:1;
		    a{
			    padding: 8px;
			    text-align: center;
			    display: block;
			    &.active{
			    	background: #56A8A4;
			    }
		    }
		    span{
		    	display: block;
		    }
		    span[class^="icon-"] {
    	        margin-bottom: 5px;
    			font-size: 21px;
		    }
		}
	}
}
.option-list {
	ul{
		li{
		    border-bottom: 1px solid #ccc;
		    label{
		    	position: relative;
		    	vertical-align: middle;
			    display: block;
			    padding: 8px;
			    input[type="checkbox"] {
				    margin-right: 8px;
				    display: inline-block;
				    vertical-align: top;
				}
		    }
		    .note-msg {
			    background: #e0dfd3;
			    color: #4c4c4c;
			    font-size: 11px;
			    padding: 5px;
			    .note-heading {
				    margin-bottom: 3px;
				    font-weight: bold;
				    text-transform: uppercase;
				}
				p{
					font-size: 10px;
					line-height: 1.5em;
    				color: #2f2f2f;
				}
			}
		}
	}
	.sub-option-list{
		li{
			padding: 10px 10px;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			&:last-child{
				border-bottom:none;
			}
		}
		.note-list-label {
		    color: #555555;
		    font-size: 12px;
		    font-weight: bold;
		    width: 50px;
		    margin-left: 15px;
		}
		.btn-note{
			    min-width: 30px;
			    padding: 7px 7px;
			    text-align: center;
			    display: inline-block;
			    vertical-align: middle;
			    background: #e0dfd3;
			    position: relative;
			    font-weight: bold;
			    cursor: pointer;
			    color: #555555;
			    font-size: 11px;
			    margin-right: 4px;
			    &:hover,&.active{
			    	color: #fff;
    				background-color: #56a8a4;
			    }
		}
	}
}
.accordion{
	a{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	    padding: 7px 5px;
		width: 100%;
		img{
			margin-right: 15px;
		    width: 50px;
		    height: 50px;
		}
		[class^="icon-arrow-"] {
			margin-left: auto;
			transition: .5s all ease;
		}
		&.active{
			[class^="icon-arrow-"]{
			    transform: rotate(-180deg);
			}
		}
	}
}
.sidebar-action-holder{
    padding: 10px 5px;
    background: #e0dfd3;
    width: 100%;
    text-align: center;
    ul{
    	justify-content: space-between;
    }
}