.ifp-sidebar{
	flex-basis: 275px;
	max-width: 275px;
    background-color: #FFF;
    border-right: 1px solid #ccc;
}
.sidebar-option-holder{
	height: 400px;
	overflow-y: auto;
    overflow-x: hidden;
}
.plan-detail {
    padding: 5px;
    h2{
	    font-size: 20px;
	    line-height: 1.7em;
	    font-weight: normal;
    }
}